<footer class="footer">
  <div class="container">
    <div class="looktop">
      <div class="looktop__symbol">
        <a href="#top">
          <span class="icon icon__6"></span>
        </a>
      </div>
    </div>
    <div class="footer__info">
      <p class="info__copyright">当サイトに掲載されているコンテンツ（文字、写真、イラスト等）に関する著作権は、当社に帰属します。</p>
    </div>
    <ul class="share">
      <li class="share__facebook">
        <div id="fb-root"></div>
        <div class="fb-like" data-href="http://portfolio.cr.gree.net/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </li>
      <li class="share__twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://portfolio.cr.gree.net" data-text="【GREE Creators&#39; Portfolio】グリーで活躍するクリエイター・デザイナー（スペシャリスト）の作品紹介サイト。あの人気ゲームを作っているクリエイターを紹介します！" data-lang="ja" data-related="gree_creator">ツイート</a>
      </li>
    </ul>
    <small class="footer__copyright">&copy; GREE, Inc.</small>
  </div>
</footer>
