<div class="modal" id="modal" >
  <div class="modal__background" data-dismiss="modal" data-target="#modal">
  </div>
  <div class="modal__body">
    <div class="modal__close" data-dismiss="modal" data-target="#modal">
      <span class="icon icon__5"></span>
    </div>
  </div>
  <div class="modal__footer">
    <div class="modal__footer__inner">
      <ul class="modal__information">
        <li class="modal__creator">
        </li>
        <li class="modal__name">
        </li>
        <li class="modal__product">
        </li>
        <li class="modal__tag"></li>
      </ul>
    </div>
  </div>
</div>

