<!-- ブログとかで相互リンクできるようになったらこちらを使う -->
<header class="navbar" id="top">
  <div class="container">
    <div class="navbar__header">
      <h1>
        <a href="http://portfolio.cr.gree.net" class="navbar__brand">
          <span class="navbar__brand--portfolio"></span>
        </a>
      </h1>
    </div>
    <nav>
      <ul class="navbar__nav">
        <li>
          <a href="#">Creative Portal</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li class="active">
          <a href="#">Portfolio</a>
        </li>
        <li>s
          <a href="#">Event Calender</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
