.icon {
  @include icon(1, 6px, 8px);
  @include icon(2, 14px, 8px, -8px);
  @include icon(3, 12px, 12px, -16px);
  @include icon(4, 16px, 16px, -28px);
  @include icon(5, 50px, 50px, -44px);
  @include icon(6, 100px, 50px, -94px);

  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../img/common/sprite.svg');
  background-size: 200px 144px;
  color: transparent;
}

.icon__loading {
  text-align: center;
  animation-name: circulate;
  animation-iteration-count: infinite;
  animation-duration: .9s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
}

@keyframes circulate {
  0% {
    transform: rotate(0deg);
   }

  100% {
    transform: rotate(360deg);
  }
};
